<div id="about">
    <h1>About:</h1>
    <h3>
        Bei VW Baunatal werden Originalteile und Kaufteile für viele VW Fahrzeuge vorbehandelt, KTL lackiert,
        getrocknet, teilweise abgedichtet und anschließend Endkunden gerecht ver-packt. Bei diesem Prozess müssen
        aktuell ca. 5000 Teilenummern gehandhabt werden.
        Aufgrund dieser Vielzahl an Teilenummern, der damit verbundenen Verwechslungsgefahr und der manuellen Handhabung
        von Teiledaten soll zur Prozessabsicherung ein Scanner-system eingeführt werden.
    </h3>
</div>