table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

::ng-deep .mat-row, .mat-header-row {
  display: table-row;
  min-height: 36px !important;
}

::ng-deep .mat-cell, .mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  width: 20%;
}

::ng-deep .mat-header-row, .mat-header-cell {
  margin: 0 auto;
  min-height: 100px !important;
  text-align: center;
  vertical-align: middle;
  align-self: center;
}

::ng-deep th.mat-header-cell {
  font-weight: bold;
  background: rgba(243, 241, 241, 0.966);
  font-size: x-large;
}